<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>tic tac toe</title>
</head>

<body>

    <div class="container">
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
        <button><img src="/public/img/Circulo.png" id="circle" alt="circle" class="Up"> <img src="/public/img/Cruz.png"
                id="Cruz" alt="Cruz"></button>
    </div>

    <button id="button" class="resetButton">Reset</button>

    <script src="/app.js"></script>
</body>

</html>

quisiera que hagas que sea posible que cuando uno gane solo se pueda hacer click en el buttonReset